.contact {
  padding: 80px 0;
  background: #fff8f3;
  font-family: "Poppins", sans-serif;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 34px;
  color: #333;
  font-weight: 700;
}

.section-title span {
  color: #e67e22;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  margin-bottom: 60px;
}

.info-box {
  background: #fff;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.info-box:hover {
  transform: translateY(-5px);
}

.info-box i {
  font-size: 28px;
  color: #e67e22;
  margin-bottom: 10px;
}

.info-box h4 {
  color: #444;
  font-weight: 600;
  margin-bottom: 8px;
}

.map-section {
  text-align: center;
  margin-bottom: 60px;
}

.map-section h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 22px;
}

.contact-form {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}

.contact-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #e67e22;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  resize: none;
}

.btn {
  display: block;
  margin: 0 auto;
  background: #e67e22;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #cf6b13;
}

.faq {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.05);
}

.faq h3 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.faq-item + .faq-item {
  margin-top: 20px;
}

.faq-item h4 {
  color: #e67e22;
  cursor: pointer;
  font-size: 17px;
}

.faq-item p {
  color: #555;
  margin-top: 8px;
  display: none;
  transition: all 0.3s;
}

.faq-item.active p {
  display: block;
}
